<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Assesor</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  
    <link rel="stylesheet" href="/public/styles.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/public/style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <% if ( typeof req != 'undefined') { %>
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="/dashboard">
                <h3>Assesor</h3>
                </a>
            </div>

            <ul class="list-unstyled components">
                <p>Welcome , <%= req.user.username %></p>
                <!--- Will Use Later
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                -->
                <% if ( (typeof hidenav != 'undefined' && hidenav != true) || ( typeof hidenav == 'undefined' ) )  { %>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard/<%=subject%>/<%=req.params.year%>">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/<%=subject%>/<%=req.params.year%>/CO">Course Outcomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload/<%=subject%>/<%=req.params.year%>/toolUpload">Upload ToolData</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attain/<%=subject%>/<%=req.params.year%>/cos">Attainments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/<%=subject%>/<%=req.params.year%>/graph">Attainment Graph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/<%=subject%>/<%=req.params.year%>/coReport">CO report</a>
                </li>
                <li>
                <a href="#pageSubmenu" href="/files/<%=subject%>/<%=req.params.year%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Files</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                    <a href="/files/<%=subject%>/<%=req.params.year%>?file=timetable">Timetable</a>
                    </li>
                    <li>
                    <a href="/files/<%=subject%>/<%=req.params.year%>?file=Study Plan">Study Plan</a>
                    </li>
                    <li>
                    <a href="/files/<%=subject%>/<%=req.params.year%>?file=Question Papers">Question Papers</a>
                    </li>
                    <li>
                    <a href="/files/<%=subject%>/<%=req.params.year%>?file=Lab Manual">Lab Manual</a>
                    </li>
                </ul>
                </li>
                <% } %>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
            </ul>
        </nav>
        

        <% }%>



                <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            

            