<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>
  	<div class="row">
 	<div class="col-sm-4">
 	<h3>Add Course Outcome : </h3>
 	<hr>
 	<span>
 	<form action ='co' method="POST">
 			<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name" placeholder="CO Name"><br>
			<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="number" placeholder="Course No."><br>
			<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="blooms" placeholder="Blooms Level"><br>
			<button class="btn btn-outline-success btn-lg btn-block">Submit</button>
	</form>
	</span>
	</div>
	<div class="col-sm-8">
		<h3>My Course Outcomes : </h3>
		<hr>
		<table border="0" cellspacing="40" cellpadding="20">
			<tr>
				<td><b>Number</b></td>
				<td><b>Name</b></td>
				<td><b>Blooms Level</b></td>
			</tr>
			<% for( var a in data ){%>
			<tr>
				<td><%=data[a].number %></td>
				<td><%=data[a].name %></td>
				<td><%=data[a].blooms %></td>
				<td><a class="btn btn-outline-primary" href=<%= "co/" + data[a]._id + "/tool" %>>Add Tool</a></td>
				<td>
					<form action="<%= "co/" + data[a]._id + "/delete" %>" method="POST">
					<button type="submit" class="btn btn-outline-danger">Delete</button>
					</form>
				</td>
        <td>
          <span data-toggle="modal" class="btn btn-block" data-target="#myMod"><button type="submit"
            data-coID="<%=data[a]._id%>"
            data-cname="<%=data[a].name %>"
            data-cnumber="<%=data[a].number %>" data-cblooms="<%=data[a].blooms %>"
             class="co-editor btn btn-outline-warning">Edit CO</button></span>
        </td>
			</tr>
			<% }%>
		</table>
	</div>
	</div>

<!-- <div style="width:100%;border:1px solid black">
  <h4> Your COs </h4>
</div>
<br>
<br>
<% for( var a in data ){%>
<%=data[a].number + " -- " +  data[a].name + " -- " + data[a].blooms + " -- "  %>
<span>----<a href=<%= "co/" + data[a]._id + "/tool" %> > Add Tool </a> </span>
<br>
<hr>
<% }%>
<hr>
<br>
		<form action ='co'  method="POST">
			<input type="text" name="name" placeholder="CO Name">
			<input type="text" name="number" placeholder="Course no">
			<input type="text" name="blooms" placeholder="blooms level">
			<button>Submit</button>
		</form>

-->



<!-- The Modal -->
<div class="modal fade" id="myMod">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" align='center'>
          <h4 class="modal-title">     Edit Course Outcome      </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

            <form action="" class="edit-form" method="post">
                <div class="form-group" align='center'>

          			<input type="text" id="ename" name="co[name]" placeholder="CO Name" value=""><br><br>
          			<input type="text" id="enumber" name="co[number]" placeholder="Course no" value=""><br><br>
          			<input type="text" id="eblooms" name="co[blooms]" placeholder="blooms level" value=""><br><br>
          			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </form>
      </div>

    </div>
  </div>
</div>

<script>

  $('.co-editor').click(function(){
    var coId = $(this).attr('data-coID');
    var cname = $(this).attr('data-cname');
    var cnumber = $(this).attr('data-cnumber');
    var cblooms = $(this).attr('data-cblooms');
    console.log(coId , " " , cname , " im here " )
    var url = "co/" + coId + "/edit"
    $('.edit-form').attr('action' , url)
    var nameF = $('.edit-form').children('div').children('#ename').attr('value' , cname);
    var numberF = $('.edit-form').children('div').children('#enumber').attr('value' , cnumber);
    var bloomsF = $('.edit-form').children('div').children('#eblooms').attr('value' , cblooms);
    console.log(nameF , " " , numberF , " im here " )
  })
</script>

</div>
    <% include ./partials/footer %>
  </body>

</html>
