

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" media="print" href="../public/print.css" />
<style>

.b {
  border :2px solid black;
  padding-top:  10px;
padding-bottom:  10px;
}
hr {
  width:100% !important;
  border: 2px solid;
}
table ,th,td{
  border: 1px solid black

}
</style>
<h2><%=req.params.subject%></h2>
<div class="container">

<div class="row">
<% cos.forEach(function(co){%>
  <div class="col-md-12 col-sm-6 b">
<td>
    <h2><%= co.number +": "+co.name %>  <hr> </h2>

<table>

<tr>
    <%co.tools.forEach(function(too){%>
  <th>Tool:  <%= too.tool.name%>  </th>

    <%})%>
  </tr>


<tr>
  <%co.tools.forEach(function(too){%>

  <td>Target :<%=too.targetStudent%> % students will get minimum <%= too.high%> marks</td>
<%})%>
</tr>
<tr>
    <%co.tools.forEach(function(too){%>
    <td>Attainment : Total number of students <%= too.totalStud%></td>

    <%})%>
</tr>
<tr>
  <%co.tools.forEach(function(too){%>
    <% if (too.point ===3 ){%>
<td>Total number of students score <%=too.high%> out of <%=too.totalMark%> is <%=too.studentsAchieved%></td>
    <%}
     else if (too.point ===2 ){%>
<td>Total number of students score <%=too.mid%> out of <%=too.totalMark%> is <%=too.studentsAchieved%></td>
    <%}
     else if  (too.point ===1 ){%>
<td>Total number of students score <%=too.low%> out of <%=too.totalMark%> is <%=too.studentsAchieved%></td>
    <%}
     else{%>
<td>Target failed </td>
    <%}%>

<%})%>
</tr>
<tr>
    <%co.tools.forEach(function(too){%>
    <td>Attainment = <%=(too.studentsAchieved/too.totalStud).toFixed(2)%> (<%=too.point%>)</td>

    <%})%>
</tr>
<%var i,too=co.tools,direct=[],indirect=[];
  for(i=0;i<too.length;i++){%>
    <%if(too[i].toolType=== "Direct"){%>
    <%  direct.push(too[i]);%>
    <%}
    else{%>
    <%  indirect.push(too[i])%>
      <%}%>
      <%}%>
<tr>
  <td colspan="6">  <%if (direct.length||indirect.length){%>
    Overall attainment= 0.8 x (
    <%}%>
  <%var i,too=co.tools;
    for(i=0;i<direct.length;i++){%>
        <%if(i!=(direct.length-1)){%>
          <%=direct[i].weightage%> x <%=direct[i].point%> +
          <%}
        else{%>
          <%=direct[i].weightage%>  x  <%=direct[i].point%> )
          <%}%>
      <% }%>
      <%if(indirect.length){%>
        + 0.2 x (
        <%}%>
    <%for(i=0;i<indirect.length;i++){%>
          <%if(i!=(indirect.length-1)){%>
            <%=indirect[i].weightage%> x <%=indirect[i].point%> +
            <%}
          else{%>
            <%=indirect[i].weightage%>  x  <%=indirect[i].point%> )
            <%}%>
        <% }%>
        <%if (direct.length||indirect.length){%>
        = <%=(co.attainment * 1).toFixed(2)%>
          <%}%>
</td>
</tr>


  </table>


</div>

<%})%>
</div>


  </div>
  <br/>
  <br/>
  
  <button type="button" id ="polo"  class="btn btn-dark" style="float:right">Download Pdf  </button>

  <script>
  $('#polo').click(function(){
    document.getElementById('polo').style.visibility = 'hidden';
    
   
      $.get('/api/<%=subject%>/<%=year%>/coReport', function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });

   
    
}); 
</script>