<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>
	<div class="row">
 	<div class="col-sm-6">
 	<h3>Add New Tool : </h3>
 	<hr>
 	<form method="POST">
				<span>
				<select name="tool" id="dropdown" class="custom-select">
				<% for(t in allTools){ %>
					<option value="<%= allTools[t]._id%>" > <%= allTools[t].name %> </option>
				<%}%>
				</select>
				<br><br>
			
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name" placeholder="Add New Tool Name"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="weightage" placeholder="Weightage"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="targetStudent" placeholder="Target students"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="totalMark" placeholder="Total Marks"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="totalStud" placeholder="Total students"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="high" placeholder="high"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="mid" placeholder="mid"><br>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="low" placeholder="low"><br>
				<select name="toolType" class="custom-select">
				<option value="Direct" >Direct</option>
				<option value="Indirect" >Indirect</option>
				<br>
				</select><br><br>
				<button class="btn btn-outline-success btn-lg btn-block">Submit </button>
			</span>
		</form>
	</div>

 	<div class="col-sm-6">
 	<span>
 	<h3>           My Tools : </h3>
 	<hr>
 	<table border="0" cellspacing="40" cellpadding="20">
		<% for (t in thisToolNames ){ %>
		
		<tr>
		<td class="<%= t %>"><button class="btn btn-outline-dark btn-lg btn-block" data-toggle="modal" data-target="#myMod"> <%= thisToolNames[t] %> </button>
		</td>
		<td>
		<form action="tool/<%= tools[t]._id %>/delete" method="POST">
			<button class="btn btn-outline-danger btn-lg">Delete</button>
		</form>
		</td>
		</tr>

	    <% } %>
	</table>
	</span>
	

	<!-- The Modal -->
	<div class="modal fade" id="myMod">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
				    <h4 class="modal-title">My Tool </h4>
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<% for(tool in tools) { %>
					<% if(tools[0]){ %>
			        <table class="table">
			        	<tbody>
			        		<tr>
				              <td>Weightage : </td>
				              <td id="weightage">

				                <%= tools[t].weightage %>
				              </td>

				            </tr>
				            <tr>
							  <td>Target No. Of Student : </td>
				              <td id="targetStudent">
				              </td>
				              <td>
				              	<%= tools[t].targetStudent %>
				                <!--  -->
				              </td>
				              <tr>
								<td>Total marks : </td>
				                <td id="totalMark"> </td>
				                <td>
				                	<%= tools[t].totalMark %>
				                  <!--  -->
				                </td>
				              </tr>
				              <tr>
								<td>Total No. Of Students : </td>
				                <td id="totalStud"> </td>
				                <td>
				                	<%= tools[t].totalStud %>
				                  <!--  -->
				                </td>
				              </tr>
				              <tr>
								<td>No. Of Students Achieved Target : </td>
				                <td id="studentsAchieved"> </td>
				                <td>
				                	<%= tools[t].studentsAchieved %>
				                  <!--  -->
				                </td>
				              </tr>
				              <tr>
								<td>Type of Tool : </td>
				                <td id="toolType"> </td>
				                <td>
				                  <!--  -->
				                  <%= tools[t].toolType %>
				                </td>
				              </tr>
				              <tr>
								<td>High : </td>
				                <td id="high"> </td>
				                <td>
				                  <!--  -->
				                  <%= tools[t].high %>
				                </td>
				              </tr>
				              <tr>
								<td>Mid : </td>
				                <td id="mid"> </td>
				                <td>
				                  <!--  -->
				                  <%= tools[t].mid %>
				                </td>
				              </tr>
				              <tr>
								<td>Low : </td>
				                <td id="low"> </td>
				                <td>
				                	<%= tools[t].low %>
				                  <!--  -->
				                </td>
				              </tr>
				              <tr>
								<td>Point : </td>
				                <td id="point">
				                <%= tools[t].point %>
				                  <!--  -->
				                </td>
				            </tr>
				        </tbody>
					</table>
				<% } %>
				<% } %>
				</div>

			</div>
		</div>
	</div>

 			</div>




			<% include ./partials/footer %>
				</body>

</html>
