<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>
		<% for(t in toolData){ %>
		<%= toolData[t].name + " ====== "+ toolData[t].weightage + " ====== "+ toolData[t].toolType + " ====== " %>
		<a href=<%=  "/dashboard/co/"+ coID + "/" +tools[t]._id+"/delete" %> >Delete</a>
		<br>
		<hr>
		<%}%>

			<form action=<%= 'Tool' %> method="POST">
				<span>
				<select name="tool" id="dropdown">
				<% for(t in tools){ %>
					<option value= <%=tools[t]._id%> > <%=tools[t].name%> </option>
				<%}%>
				</select>
				<br>
				<input type="text" name="weightage" placeholder="Weightage"><br>
				<input type="text" name="targetStudent" placeholder="Target students"><br>
				<input type="text" name="totalMark" placeholder="Total Marks"><br>
				<input type="text" name="totalStud" placeholder="Total students"><br>
				<input type="text" name="high" placeholder="high"><br>
				<input type="text" name="mid" placeholder="mid"><br>
				<input type="text" name="low" placeholder="low"><br>
				<select name="toolType">
				<option value="Direct" >Direct</option>
				<option value="Indirect" >Indirect</option>
				</select><br>
				<button>Submit </button>
			</span>
			</form>


			<% include ./partials/footer %>
	</body>

</html>
